# IntelliJ IDEA files
*.iml
.idea/

# Microsoft VSCode files
.vscode/

# Maven build files
target/
dependency-reduced-pom.xml

# FastAgent files
fastagent.secrets.yaml
fastagent.config.yaml
fastagent.jsonl
